
<button type="button" class="navbar-toggle" >
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>

<div class="navbar-header page-scroll">
    <a class="page-scroll" href="#page-top">
        <img src="assets/img/kreatornica.png"  alt="Kreatornica" class="logo-img" />
    </a>
</div>

<div class="language-icons">
    <ul class="navbar-header ">
        <li>
        <a href="?lang=srb"> <img src="assets/img/flags/serbia.png"  alt="serbian version"></a>
        </li>
        <li>
        <a href="?lang=sk"> <img src="assets/img/flags/slovakia.png"  alt="slovakian version"></a>
        </li>
        <li>
        <a href="?lang=en"> <img src="assets/img/flags/english.png"  alt="english version"></a>
        </li>
    </ul>
</div>

<div class="collapse-content"  id="">
    <ul class="nav navbar-nav">
        <li class="hidden">
            <a href="#page-top"></a>
        </li>
        <li>
            <a class="page-scroll " href="#about_us">{{ ABOUT_NAV }}</a>
        </li>
        <li>
            <a class="page-scroll" href="#member">{{ MEMBERS_NAV }}</a>
        </li>
        <li>
            <a class="page-scroll" href="#projects">{{ PROJECTS_NAV }}</a>
        </li>
        <li>
            <a class="page-scroll" href="#gallery">{{ GALLERY_NAV }}</a>
        </li>
        <li>
            <a class="page-scroll" href="#contact">{{ CONTACT_NAV }}</a>
        </li>
    </ul>

</div>

</div>