
<!-- Brand and toggle-grouped -->
<div class="navbar-header page-scroll">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="page-scroll" href="#page-top">
        <img src="assets/img/kreatornica.png"  alt="Kreatornica" class="logo-img" />
    </a>
</div>

<div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
            <a href="#page-top"></a>
        </li>
        <li>
            <a class="page-scroll " href="#about_us">{{ ABOUT_NAV }}</a>
        </li>
        <li>
            <a class="page-scroll" href="#member">{{ MEMBERS_NAV }}</a>
        </li>
        <li>
            <a class="page-scroll" href="#projects">{{ PROJECTS_NAV }}</a>
        </li>
        <li>
            <a class="page-scroll" href="#gallery">{{ GALLERY_NAV }}</a>
        </li>
        <li>
            <a class="page-scroll" href="#contact">{{ CONTACT_NAV }}</a>
        </li>
    </ul>
</div>


</div>