<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Članovi - Izmeni sekciju</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="index.html">Pocetna</a></li>
            <li><i class="fa fa-laptop"></i>Članovi</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Lista članova
            </header>

            <table class="table table-striped table-advance table-hover">
                <tbody>
                <tr>
                    <th class="col-lg-1 text-center"><i class="icon_profile"></i> Ime i prezime</th>
                    <th class="col-lg-1 text-center"><i class="icon_calendar"></i> Datum unosa</th>
                    <th class="col-lg-5 text-center"><i class="icon_document_alt"></i> Biografija</th>
                    <th class="col-lg-2 text-center"><i class="icon_mail_alt"></i> E-mail</th>
                    <th class="col-lg-2 text-center"><i class="icon_mobile"></i> Telefon</th>
                    <th class="col-lg-2 text-center"><i class="icon_cogs"></i> Uredi</th>
                </tr>
                {% for member in members %}
                    <tr>
                        <td>{{ member.name }}</td>
                        <td>{{ member.created_date }}</td>
                        <td>{{ member.text }}</td>
                        <td>{{ member.email }}</td>
                        <td>{{ member.telefon }}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="#member-update" class="btn btn-primary member-update" data-toggle="modal" data-member="{{ member.member_id }}" data-lang="{{ member.lang }}"><i class="icon_plus_alt2"></i></a>
                                <a href="#member-delete" class="btn btn-danger member-delete" data-member="{{ member.member_id }}" data-toggle="modal"><i class="icon_close_alt2"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</div>
<!-- page end-->

{% include "member-modal.twig" %}

{% include "confirm.twig" %}

<button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#member-update" id="add-member">Dodaj člana</button>

 
 

			  
	
		       