<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Aktivnosti - Izmeni sekciju</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="index.html">Pocetna</a></li>
            <li><i class="fa fa-laptop"></i>Aktivnosti</li>
        </ol>
    </div>
</div>

<section class="panel">
    <div class="panel-body">
        <form class="form-horizontal " method="post" action="" enctype="multipart/form-data"  name="project-form" id="project-form">
            <div class="form-group">

                <div id="project-name-wrapper" class="col-lg-12 display-none">
                    <label class="control-label col-lg-2" for="inputSuccess">Ime projekta: </label>
                    <div class="col-lg-10">
                        <select class="form-control m-bot15" name="project" id="project">
                            <option value="0">Izaberi </option>
                            {% for project in projects %}
                                <option value="{{ project.project_id }}" {% if project.project_id == 1 %}selected="selected"{% endif %}>{{ project.project_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <label class="control-label col-lg-2" for="inputSuccess">Izaberi projekat: </label>
                <div class="col-lg-10">
                    <select class="form-control m-bot15" name="project" id="project">
                        <option value="0">Izaberi </option>
                        {% for project in projects %}
                            <option value="{{ project.project_id }}" {% if project.project_id == 1 %}selected="selected"{% endif %}>{{ project.project_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <label class="control-label col-lg-2" for="inputSuccess" >Izaberi jezik: </label>
                <div class="col-lg-10">
                    <select class="form-control m-bot15" name="language" id="language">
                        <option value="sr">Srpski</option>
                        <option value="sk">Slovački</option>
                        <option value="en">Engleski</option>
                    </select>

                    <input class="form-control input-lg m-bot15" type="text" name="title" placeholder="Izmeni naslov" id="project-title" value="{{ projects[0].title }}"/>
                </div>
            </div>
            <div class="row">
                <!-- CKEditor -->
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Izmeni sadržaj na glavnoj strani
                        </header>
                        <div class="panel-body">
                            <div class="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Unesi tekst: </label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="text" rows="6" id="project-text">{{ projects[0].text }}</textarea>
                                    </div>

                                    <div style="float: left; margin-left: 2%; margin-top: -4%;">
                                        <p style="margin-left: 3%;" class="help-block">Unesi naslovnu sliku projekta</p><br>
                                        <input type="file" id="project-image" name="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!--IZMENA SADRZAJA O PROJEKTU-->
            <div class="row">
                <!-- CKEditor -->
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Izmeni sadržaj o projektu
                        </header>
                        <div class="panel-body">
                            <div class="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Unesi tekst: </label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control ckeditor" name="content" rows="6" id="project-content">{{ projects[0].content }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" form="project-form" id="save-project">Pošalji</button>
            <input type="hidden" name="action" value=""/>
        </form>
    </div>
</section>
